html {
    background-color: #7577EE;
    background-image: -webkit-linear-gradient(270deg,rgb(117,119,238) 0%,rgb(117,119,238) 100%);
    background-image: linear-gradient(270deg,rgb(117,119,238) 0%,rgb(117,119,238) 100%);
    -webkit-font-smoothing: antialiased;
}
.topleft{
    text-align: left;
    font-size: 10px;
    
}
body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    
    font-family:'Rajdhani';
    line-height: 1.5em;
    color: lightgray;
    background-color: rgba(117,119,238,1.0);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.00);
}
.jumbotron{
    text-align: center;
    font-size: 16px;
}

.details{
    text-align: center;
}

.jumbotron h1{
    font-size: 50px;
    font-weight: bold;
    color:white;
}
.jumbotron h2{
    font-size: 16px;
    color: white;
}


h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 20px;
}



h2 {
    margin-top: 20px;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    /*border: 10px solid rgba(0, 0, 0, 0.12);*/
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

#top .avia-content-slider, #top .avia-content-slider-inner, #top .avia-content-slider-inner .slide-entry-wrap { -webkit-perspective: none !important; }

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}
