html {
    background-color: #7577EE;
    padding: 0;
    margin: 0;
    background-image: -webkit-linear-gradient(270deg,rgb(117,119,238) 0%,rgb(117,119,238) 100%);
    background-image: linear-gradient(270deg,rgb(117,119,238) 0%,rgb(117,119,238) 100%);-->
    -webkit-font-smoothing: antialiased;
    background: white;
}
h1{
    margin-top: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family:'Rajdhani';
    line-height: 0px;
    color: lightgray;
    background-color: rgba(117,119,238,1.0);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.00);
    height: 100%;
}
/*nav {
    text-align: left;
    align-content: flex-start;
    color: black;
}*/
#navBarList {
    text-align: left;
    width: 100%;
    font-size: 20px;
    height: 40px;
    padding: inherit;
    float: left;

}
#contactList{
    width: 100%;
    font-size: 20px;
    height: 150px;
    padding: 0px;
    text-align: center;
    display: inline;
}
#mailClick, #linkedInClick, #facebookClick {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
nav{
    margin-top: 0px;
}
#contact_form{
    position:absolute;
    display:none;
    top:50px;
    left:50px; /* you should change left and top */
    width:200px;
    height:200px;
}
#copyright{
    font-size: 15px;
    text-decoration: none;
}
/*
.image_off, #home:hover .image_on{
   display:none
}*/
/*
.image_on, #home:hover .image_off{
   display:block
}
*/
#anaText{
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 7px;
    line-height: 25px;
    padding-bottom: 0px;
    vertical-align: bottom;
    float: left;
    font-size: 23px;
    color: black;
    text-decoration: none;
}
/*#anaText:hover{
    padding-left: 5px;
    margin-left: 5px;
    padding-top: 6px;
    padding-bottom: 5px;
    vertical-align: bottom;
    float: left;
    font-size: 23px;
    color: dimgrey;
    text-decoration: none;
}*/
#logoNav{
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 20px;
    float:inherit;
    line-height: 20px;
} 
#navListElement1 {
    display:inline;
    float: left;
}
.jumbotron{
    text-align: center;
    font-size: 16px; 
}

.details{
    text-align: center;
    padding-bottom: 5px;
}

.jumbotron h1{
    font-size: 50px;
    font-weight: bold;
    color:white;
}
.jumbotron h2{
    font-size: 16px;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 20px;
}
h2 {
    margin-top: 20px;
}
#footer{
    margin-top: 10px;
    padding-top: 20px;
    bottom:0;
    width:100%;
    height:300px;   /* Height of the footer */
    background:white;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    /*border: 10px solid rgba(0, 0, 0, 0.12);*/
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

#top .avia-content-slider, #top .avia-content-slider-inner, #top .avia-content-slider-inner .slide-entry-wrap { -webkit-perspective: none !important; }

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}
